# Ignore test artifacts
tests/__pycache__/
tests/*.pdf
tests/*.html
tests/*.zip

# Ignore generated output data
# backend/data/

# Optional: global Python artifacts (for all dirs)
__pycache__/
*.py[cod]

.env
.env.*
.env.prod

/.env
/services/mr-m/.env
/services/mr-m/.env.prod

/services/mr-m/.env
/services/mr-m/.env.prod
/services/mr-m/data/analytics/
/services/mr-m/data/raw/
/services/mr-m/data/artifacts/


*.log

# Ignore VS Code globally if needed
.vscode/


